.quicksand-font {
  font-family: "quicksand" !important;
}

.quicksand-light-font {
  font-family: "quicksand-light" !important;
}

.quicksand-medium-font {
  font-family: "quicksand-medium" !important;
}

.quicksand-regular-font {
  font-family: "quicksand-regular" !important;
}

.quicksand-semibold-font {
  font-family: "quicksand-semibold" !important;
}

.quicksand-bold-font {
  font-family: "quicksand-bold" !important;
}

.arabic-ultralight-font {
  font-family: "arb-fonts-ultralight" !important;
}

.arabic-light-font {
  font-family: "arb-fonts-light" !important;
}

.arabic-regular-font {
  font-family: "arb-fonts-regular" !important;
}

.arabic-medium-font {
  font-family: "arb-fonts-medium" !important;
}

.arabic-mediumbold-font {
  font-family: "arb-fonts-mediumbold" !important;
}

.arabic-bold-font {
  font-family: "arb-fonts-bold" !important;
}

.arabic-bolder-font {
  font-family: "arb-fonts-bolder" !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  margin: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

div:focus {
  outline: none;
}

textarea,
select,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}

input,
textarea {
  box-shadow: none !important;
  border-radius: 0;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}

body.hide_scroll {
  padding-right: 17px;
  overflow: hidden !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: none !important;
}

@-webkit-keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: #9eb6c5;
}

.navbar-brand {
  position: relative;
}

header {
  z-index: 2;
  position: relative;
}

.site-header {
  padding: 1rem 0;
  z-index: 13;
}
.site-header .header-logo {
  width: 160px;
  opacity: 0;
}
.site-header .header-logo.active {
  opacity: 1;
  transition-duration: 2s;
}

.site-header.shadow_class {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
}

.header-style {
  float: right;
}
.header-style ul {
  display: flex;
}
.header-style a {
  display: inline-block;
  padding: 1.4rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: all 0.6s ease;
  opacity: 1;
}
.header-style a::before {
  content: "";
  position: absolute;
  bottom: 70%;
  left: 50%;
  width: 2px;
  height: 3rem;
  background-color: #000;
  transition: 0.3s ease;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
}
.header-style a:hover::before {
  background-color: #000;
  transform: translateX(-50%) scaleY(1);
}
.header-style .project_active a.active::before {
  background-color: #093f6c;
  transform: translateX(-50%) scaleY(1);
}
.header-style .page_active a.active::before {
  background-color: #093f6c;
  transform: translateX(-50%) scaleY(1);
}
.header-style .current-menu-item {
  position: relative;
}
.header-style .current-menu-item a::before {
  background-color: #093f6c;
  transform: translateX(-50%) scaleY(1);
}

.page_404 {
  padding: 188px 0px 240px 0px;
  direction: ltr;
}
.page_404 .title_404 {
  color: #212121;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.page_404 .text_404 {
  color: #868587;
  font-size: 18px;
  padding-bottom: 50px;
}
.page_404 .btn_404 {
  font-size: 18px;
  padding: 20px 0px;
  background-color: #093f6c;
  border: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  opacity: 89%;
  position: relative;
  border-bottom: 1px solid #093f6c;
  width: 321px;
  margin: 0 auto;
  transition-duration: 1s;
  color: white;
}
.page_404 .btn_404::after {
  content: "";
  margin: auto;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  left: 0;
  width: 100%;
  transition: ease 0.5s;
  transform-origin: bottom;
  bottom: 0;
  height: 0;
}
.page_404 .btn_404:hover {
  border-bottom: 1px solid #fff;
  transition: ease 0.5s;
  color: #231f20;
}
.page_404 .btn_404:hover::after,
.page_404 .btn_404:active:after {
  height: 100%;
}

root {
  --Navy-Blue-Color: #093f6c;
  --Light-Gray-Blue-Color: #9eb6c5;
}

body {
  color: #231f20;
  background-color: white;
  overflow: auto;
  overflow-x: hidden !important;
}

.no-padding-x {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin-x {
  margin-left: 0px;
  margin-right: 0px;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-n1 {
  z-index: -1;
}

::-moz-selection,
::selection {
  color: white;
  background-color: #3399ff;
}

.rtl {
  direction: rtl;
  text-align: right;
}

#wpadminbar {
  display: none;
}

#content {
  min-height: 72dvh;
}

h1 {
  font-family: "quicksand-bold";
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: white;
  height: 13dvh;
  position: sticky;
  top: 0;
  font-family: "quicksand-bold";
  padding: 1rem 0 0.25rem 0 !important;
}
header .site-branding img {
  height: auto;
}
header #site-navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  align-items: center;
}
header #site-navigation li {
  margin-right: 20px;
  width: 7rem;
  text-align: center;
}
header #site-navigation li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
header #site-navigation li a:hover,
header #site-navigation li.current-menu-item a {
  color: white;
}
header #site-navigation li a:hover {
  background-color: #9eb6c5;
}
header #site-navigation li.current-menu-item a {
  background-color: #093f6c;
}
header #site-navigation li.current-menu-item a::after {
  filter: invert(1) brightness(2);
}
header #site-navigation #menu-item-115 {
  margin-left: auto;
}
header #site-navigation #menu-item-115 a::after {
  content: "";
  display: inline-block;
  background-image: url("https://charlie.e-vents.me/wp-content/themes/main/inc/assets/images/header/cart-icon-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  vertical-align: middle;
}
header #site-navigation #menu-item-115 a:hover::after {
  filter: invert(1) brightness(2);
}
header .mobile-menu-div button {
  border: none;
  background: none;
}
header .mobile-menu-div .hamburger i::before {
  vertical-align: middle;
}
header .mobile-menu-div .hamburger:hover {
  background-color: #9eb6c5;
  border-radius: 100%;
}
header .mobile-menu-div .hamburger:hover i {
  filter: invert(1) brightness(2);
}
header .mobile-menu-div .mobile-cart-button {
  border-radius: 100%;
}
header .mobile-menu-div .mobile-cart-button img {
  vertical-align: middle;
}
header .mobile-menu-div .mobile-cart-button:hover {
  background-color: #9eb6c5;
  border-radius: 100%;
}
header .mobile-menu-div .mobile-cart-button:hover img {
  filter: invert(1) brightness(2);
}
header .mobile-menu-div .mobile-cart-button:active {
  background-color: #093f6c;
}
header .mobile-menu-div .mobile-cart-button:active img {
  filter: invert(1) brightness(2);
}
header .mobile-menu-div .mobile-nav-wrapper {
  width: 40dvw;
  top: 13dvh;
  right: 1dvw;
}
header .mobile-menu-div .mobile-nav-wrapper nav {
  background-color: #9eb6c5;
}
header .mobile-menu-div .mobile-nav-wrapper nav ul {
  display: flex;
  flex-direction: column;
}
header .mobile-menu-div .mobile-nav-wrapper nav ul li {
  background-color: #9eb6c5;
  text-align: center;
}
header .mobile-menu-div .mobile-nav-wrapper nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 13px 10px;
}
header .mobile-menu-div .mobile-nav-wrapper nav ul li.current-menu-item a {
  background-color: #093f6c;
  color: white;
}

footer {
  color: white;
  height: 15dvh;
  background-color: #093f6c;
  bottom: 0;
  padding: 0.4rem;
}
footer h5 {
  padding-bottom: 0.3rem;
  color: white;
  font-family: "quicksand-bold";
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer .last-p {
  cursor: default;
  color: darkgray;
  font-size: 15px;
  padding-top: 0.4rem;
}
footer p {
  margin: 0;
  cursor: pointer;
}
footer .footer-icon1 {
  margin-right: 5px;
}
footer .footer-icon2,
footer .footer-icon1 {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}
footer .contactus_section,
footer .location_section,
footer .ministries_section {
  text-align: center;
  justify-content: center;
}
footer span {
  color: darkgray;
  font-size: 15px;
}
footer .footer_lines {
  position: relative;
}
footer .footer_lines::after {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
  height: 80%;
  width: 4px;
  background-color: white;
}

.homeDiv {
  height: 72dvh;
}
.homeDiv .homeDivInnerImage {
  background-image: url("https://charlie.e-vents.me/wp-content/themes/main/inc/assets/images/Library_img.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.homeDiv .padding-left {
  padding-left: 1.5rem;
}
.homeDiv h1 {
  text-transform: uppercase;
}
.homeDiv h4 {
  font-family: "quicksand-semibold";
}
.homeDiv .desktop h1 {
  font-size: 4.5rem;
}
.homeDiv .blue-left-sidebar-desktop,
.homeDiv .blue-right-sidebar-desktop,
.homeDiv .blue-left-sidebar-mobile,
.homeDiv .blue-right-sidebar-mobile {
  background-color: #9eb6c5;
}
.homeDiv .blue-left-sidebar-desktop {
  top: 10%;
  left: 0;
  width: 15dvw;
  height: 80%;
}
.homeDiv .blue-right-sidebar-desktop {
  top: 5%;
  right: 0;
  width: 5dvw;
  height: 90%;
}
.homeDiv .blue-left-sidebar-mobile,
.homeDiv .blue-right-sidebar-mobile {
  width: 20dvw;
  height: 70%;
}
.homeDiv .blue-left-sidebar-mobile {
  top: 5%;
  left: 0;
}
.homeDiv .blue-right-sidebar-mobile {
  top: 20%;
  right: 0;
}
.homeDiv .mobile .row1 {
  height: 25%;
}
.homeDiv .mobile .row2 {
  height: 50%;
}
.homeDiv .mobile .row3 {
  height: 25%;
}
.homeDiv .mobile h1 {
  font-size: 2.1rem;
}
.homeDiv .mobile .dots-design {
  font-size: 3rem;
  font-style: normal;
  font-family: none;
  color: #093f6c;
  line-height: 1;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.slide-out {
  animation: slideOutLeft 1.5s forwards;
}

.slide-in {
  animation: slideInRight 1.5s forwards;
}

.custom-shop {
  min-height: 72dvh;
}
.custom-shop .blue-sidebar {
  top: 10%;
  left: 0;
  width: 10dvw;
  height: 85%;
  background-color: #9eb6c5;
}
.custom-shop .dots-design {
  font-size: 100px;
  font-style: normal;
  font-family: none;
  color: #093f6c;
  writing-mode: vertical-lr; /* Text flows vertically from bottom to top */
  transform: rotate(180deg); /* Rotates the text so it goes bottom to top */
}

.add_to_cart_button {
  background-color: #093f6c !important;
  color: white !important;
  border-radius: 20px !important;
  margin-top: -1rem !important;
  padding: 0.25rem 1rem !important;
  min-width: 30% !important;
  font-family: "quicksand-semibold" !important;
  font-size: 17px !important;
}

.add_to_cart_button:hover {
  color: white;
}

.search-container {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
}
.search-container .search-field {
  border: none;
  padding: 0.5rem 1rem;
  flex: 1;
  border-radius: 20px;
  margin: 0;
}
.search-container .search-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #fff;
}
.search-container .search-button i {
  font-size: 1rem;
  color: black;
}

.down-to-up {
  font-size: 3rem;
  writing-mode: vertical-rl; /* Text flows vertically from bottom to top */
  transform: rotate(180deg); /* Rotates the text so it goes bottom to top */
  text-transform: uppercase;
}

.aboutUsDiv {
  height: 70dvh;
}
.aboutUsDiv .ABOUTUS-blue-left-sidebar,
.aboutUsDiv .ABOUTUS-blue-right-sidebar {
  background-color: #9eb6c5;
  width: 7dvw;
}
.aboutUsDiv .ABOUTUS-blue-left-sidebar {
  left: 0;
  height: 90%;
}
.aboutUsDiv .ABOUTUS-blue-right-sidebar {
  right: 0;
  bottom: 5%;
  height: 60%;
}
.aboutUsDiv .AbtUSPart1 {
  padding-left: 9dvw;
}
.aboutUsDiv .AboutUsText {
  font-size: 19px;
  margin-top: 0.5rem;
  font-family: "quicksand-regular";
}
.aboutUsDiv #ARparagraph {
  font-size: 23px;
  display: none;
  direction: rtl;
  font-family: "arb-fonts-regular";
  margin-top: 0.5rem;
}
.aboutUsDiv .LanguageSwitchBtnENG,
.aboutUsDiv .LanguageSwitchBtnAR {
  background-color: #093f6c;
  font-size: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: none;
  border: none;
}
.aboutUsDiv .LanguageSwitchBtnENG {
  float: left;
  font-family: "quicksand-semibold";
  display: none;
}
.aboutUsDiv .LanguageSwitchBtnAR {
  float: right;
}
.aboutUsDiv .abtUsBold {
  font-family: "quicksand-bold";
}
.aboutUsDiv .abtUsBoldAR {
  font-family: "arb-fonts-bold";
}
.aboutUsDiv .AbtUSimg1 {
  width: 100%;
  height: 43%;
  margin-top: 5px;
}
.aboutUsDiv .AbtUSimg2 {
  width: 24vw;
  height: 34dvh;
  bottom: 0;
  position: absolute;
  padding-bottom: 2rem;
}
.aboutUsDiv .main-heading-Eng,
.aboutUsDiv .main-heading-Ar {
  font-size: 5.5rem;
  margin-left: -5rem;
  line-height: 1;
}
.aboutUsDiv .main-heading-Eng {
  text-transform: uppercase;
  font-family: "quicksand-bold";
  right: 3%;
  top: 10%;
}
.aboutUsDiv .main-heading-Ar {
  font-family: "arb-fonts-bold";
  right: 15%;
  direction: rtl;
}

.my-custom-cart-wrapper {
  height: 70dvh !important;
}
.my-custom-cart-wrapper .Cart-container {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.my-custom-cart-wrapper .cart-lightblue-left-sidebar,
.my-custom-cart-wrapper .cart-darkblue-right-sidebar {
  height: 95%;
  bottom: 5%;
  width: 50%;
}
.my-custom-cart-wrapper .cart-lightblue-left-sidebar {
  background-color: #9eb6c5;
  left: 0;
}
.my-custom-cart-wrapper .cart-darkblue-right-sidebar {
  background-color: #093f6c;
  right: 0;
}
.my-custom-cart-wrapper .Cart-small-container {
  background-color: #f1f1f1;
}
.my-custom-cart-wrapper .image-cell {
  position: relative;
  vertical-align: bottom;
  width: 50px;
}
.my-custom-cart-wrapper .cartIconReversed {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 60;
  transform: scaleX(-1);
}
.my-custom-cart-wrapper .cart-item {
  background-color: #9eb6c5;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.my-custom-cart-wrapper .cart-item-img {
  max-width: 80px;
  margin-right: 15px;
}
.my-custom-cart-wrapper .cart-item-details {
  flex: 1;
}
.my-custom-cart-wrapper .cart-item-details h2 {
  font-family: "arb-fonts-medium";
  font-size: 22px;
}
.my-custom-cart-wrapper .quantity-selector {
  display: inline-flex; /* Align buttons and input horizontally */
  align-items: center;
  border: 1px solid #000; /* Border around the whole control */
  border-radius: 30px; /* Rounded corners */
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5f5f5; /* Light background for the control */
  width: fit-content;
}
.my-custom-cart-wrapper .quantity-btn {
  background-color: transparent;
  border: 1px solid #000; /* Circle around the buttons */
  border-radius: 50%; /* Make the buttons circular */
  width: 15px;
  height: 15px;
  font-size: 15px;
  line-height: 0; /* Center the "-" and "+" symbols */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.my-custom-cart-wrapper .quantity-btn:hover {
  background-color: #ddd; /* Slight hover effect */
}
.my-custom-cart-wrapper .quantity-input {
  width: 50px; /* Allow space for larger numbers */
  border: none; /* Remove default input borders */
  text-align: center; /* Center the text */
  font-size: 15px;
  font-family: "quicksand-bold";
  margin: 0 15px; /* Space between buttons and input */
  background-color: transparent; /* Match background with container */
  outline: none; /* Remove focus outline */
  padding: 3px;
}
.my-custom-cart-wrapper .cart-item-price {
  margin-top: 10px;
  font-family: "quicksand-regular";
}
.my-custom-cart-wrapper .cart-item-remove {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  height: 3rem;
  width: 3rem;
}

.my-custom-checkout-wrapper {
  min-height: 72dvh;
}/*# sourceMappingURL=custom_style.css.map */