.quicksand-font {
  font-family: "quicksand" !important;
}

.quicksand-light-font {
  font-family: "quicksand-light" !important;
}

.quicksand-medium-font {
  font-family: "quicksand-medium" !important;
}

.quicksand-regular-font {
  font-family: "quicksand-regular" !important;
}

.quicksand-semibold-font {
  font-family: "quicksand-semibold" !important;
}

.quicksand-bold-font {
  font-family: "quicksand-bold" !important;
}

.arabic-ultralight-font {
  font-family: "arb-fonts-ultralight" !important;
}

.arabic-light-font {
  font-family: "arb-fonts-light" !important;
}

.arabic-regular-font {
  font-family: "arb-fonts-regular" !important;
}

.arabic-medium-font {
  font-family: "arb-fonts-medium" !important;
}

.arabic-mediumbold-font {
  font-family: "arb-fonts-mediumbold" !important;
}

.arabic-bold-font {
  font-family: "arb-fonts-bold" !important;
}

.arabic-bolder-font {
  font-family: "arb-fonts-bolder" !important;
}

@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  /* Extra small devices (portrait phones, less than 576px) */
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Small devices (landscape phones, 576px and up) */
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Medium devices (tablets, 768px and up) */
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Large devices (desktops, 992px and up) */
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Extra large devices (large desktops, 1200px and up) */
}
@media (min-width: 1400px) {
  /* Extra-extra large devices (very large desktops, 1400px and up) */
}
@media (max-width: 575.98px) {
  header h4 {
    font-size: 0.8rem;
  }
  header .site-branding img {
    width: 2.5rem;
  }
  header .mobile-menu-div button i::before {
    font-size: 18px;
  }
  header .mobile-menu-div a img {
    width: 20px;
    height: 20px;
  }
  header .mobile-cart-button,
  header .hamburger {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header .site-branding img {
    width: 3rem;
  }
  header .mobile-menu-div button i::before {
    font-size: 25px;
  }
  header .mobile-menu-div a img {
    width: 30px;
    height: 30px;
  }
  header .mobile-cart-button,
  header .hamburger {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header .site-branding img {
    width: 3.5rem;
  }
  header .mobile-menu-div button i::before {
    font-size: 30px;
  }
  header .mobile-menu-div a img {
    width: 35px;
    height: 35px;
  }
  header .mobile-cart-button,
  header .hamburger {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  header .site-branding img {
    width: 5.5rem;
  }
  header .mobile-menu-div button i::before {
    font-size: 35px;
  }
  header .mobile-menu-div a img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header h4 {
    font-size: 1.2rem;
  }
  header .site-branding img {
    width: 4rem;
  }
}

@media (max-width: 576px) {
  footer {
    /* Styles for phones with screens 480px or smaller */
    height: 40dvh;
  }
  footer span {
    font-size: 0.7rem;
  }
  footer .align-center-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .contactus_section,
  footer .location_section,
  footer .ministries_section {
    text-align: center;
    justify-content: center;
  }
  footer .ministries_section {
    padding: 10px 0;
    margin: 0 auto;
  }
  footer .contactus_section,
  footer .location_section {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  footer .footer-icon1-mobile {
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }
  footer .footer-icon1,
  footer .remove-on-mobile,
  footer .ministries_section p {
    display: none;
  }
  footer .separator {
    width: 70%; /* Adjust width */
    height: 2px; /* Line thickness */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
  }
  footer .footer_lines {
    position: static; /* Reset the position */
  }
  footer .footer_lines::after {
    content: none; /* Remove the pseudo-element */
  }
}
@media (min-width: 577px) and (max-width: 766px) {
  footer {
    height: 30dvh;
  }
  footer .location-icon-mobile,
  footer .separator {
    display: none;
  }
}
@media (min-width: 766px) {
  footer .location-icon-mobile,
  footer .separator {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .homeDiv {
    min-height: 72dvh;
  }
}
@media (min-width: 768px) {
  .homeDiv {
    height: 72dvh;
  }
}

@media (max-width: 575.98px) {
  .down-to-up {
    font-size: 2rem;
  }
  .custom-shop .dots-design {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .aboutUsDiv {
    /* Styles for phones with screens 480px or smaller */
    height: 105dvh;
  }
  .aboutUsDiv .ABOUTUS-blue-right-sidebar,
  .aboutUsDiv .ABOUTUS-blue-left-sidebar {
    width: 18dvw;
  }
  .aboutUsDiv .ABOUTUS-blue-left-sidebar {
    height: 70%;
  }
  .aboutUsDiv .ABOUTUS-blue-right-sidebar {
    bottom: 0;
    height: 65%;
  }
  .aboutUsDiv .AbtUSPart1 {
    padding: 0;
    padding-left: 1rem;
    height: fit-content;
  }
  .aboutUsDiv .AbtUSPart2 {
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .aboutUsDiv .AbtUSimg1 {
    width: 55%;
    height: 18%;
    margin-top: 1.5rem;
  }
  .aboutUsDiv .mobile-AbtUsRow {
    display: flex;
    flex-direction: row;
  }
  .aboutUsDiv .main-heading-Eng-Mobile {
    margin-top: 10%;
    font-size: 9dvw;
    margin-left: -10%;
  }
  .aboutUsDiv .main-heading-Ar-Mobile {
    margin-left: -10%;
  }
  .aboutUsDiv .AboutUsText {
    font-size: 11px;
    margin-right: 27dvw;
  }
  .aboutUsDiv .AbtUs-dots-design {
    font-size: 2rem;
    color: #093f6c;
    margin-left: 14%;
    margin-top: 5%;
  }
  .aboutUsDiv .AbtUSimg2 {
    width: 47%;
    height: 100%;
    padding: 0;
    margin-right: 2%;
    margin-left: auto;
  }
  .aboutUsDiv #ArParagraphMobile {
    font-size: 15px;
    direction: rtl;
    font-family: "arb-fonts-regular";
    margin-top: 0.5rem;
  }
  .aboutUsDiv .LanguageSwitchBtnAR,
  .aboutUsDiv .LanguageSwitchBtnENG,
  .aboutUsDiv .main-heading-Eng,
  .aboutUsDiv .main-heading-Ar {
    display: none;
  }
  .aboutUsDiv .AbtUSimg1,
  .aboutUsDiv #ENparagraph,
  .aboutUsDiv #ARparagraph,
  .aboutUsDiv .AbtUSimg2,
  .aboutUsDiv .AbtUSPart1,
  .aboutUsDiv .AbtUSPart2,
  .aboutUsDiv #ArParagraphMobile {
    z-index: 3;
  }
}
@media (min-width: 766px) and (max-width: 1024px) {
  .aboutUsDiv {
    height: 125dvh;
  }
  .aboutUsDiv .AbtUs-dots-design {
    font-size: 3rem;
    letter-spacing: 1dvw;
  }
  .aboutUsDiv #ArParagraphMobile {
    font-size: 14px;
  }
  .aboutUsDiv #ENparagraph {
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 390px) {
  .aboutUsDiv .AbtUs-dots-design {
    letter-spacing: 0;
  }
}
@media (min-width: 390px) and (max-width: 450px) {
  .aboutUsDiv .AbtUs-dots-design {
    letter-spacing: 0.5dvw;
  }
}
@media (min-width: 450px) and (max-width: 576px) {
  .aboutUsDiv .AbtUs-dots-design {
    letter-spacing: 1dvw;
  }
}
@media (min-width: 576px) and (max-width: 766px) {
  .aboutUsDiv .AbtUs-dots-design {
    letter-spacing: 1dvw;
  }
  .aboutUsDiv .AbtUs-dots-design {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=responsive.css.map */