$transition_time: 0.3s;

@mixin transition_c($transition_time) {
  transition: $transition_time;
}

@mixin transition() {
  -webkit-transition: $transition_time;
  -moz-transition: $transition_time;
  transition: $transition_time;
}
@mixin transform($data) {
  -webkit-transform: $data;
  -ms-transform: $data;
  transform: $data;
}
@mixin bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg_cover_c($position) {
  background-size: cover;
  background-position: $position;
  background-repeat: no-repeat;
}
@mixin absolute_center($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($height/2);
  margin-left: -($width/2);
}

// fonts

// english
$quicksand: "quicksand";
$quicksand-light: "quicksand-light";
$quicksand-medium: "quicksand-medium";
$quicksand-regular: "quicksand-regular";
$quicksand-semibold: "quicksand-semibold";
$quicksand-bold: "quicksand-bold";

.quicksand-font{
  font-family: $quicksand !important;
}
.quicksand-light-font{
  font-family: $quicksand-light !important;
}
.quicksand-medium-font{
  font-family: $quicksand-medium !important;
}
.quicksand-regular-font{
  font-family: $quicksand-regular !important;
}
.quicksand-semibold-font{
  font-family: $quicksand-semibold !important;
}
.quicksand-bold-font{
  font-family: $quicksand-bold !important;
}

// arabic
$arabic-fonts-ultralight: "arb-fonts-ultralight";
$arabic-fonts-light: "arb-fonts-light";
$arabic-fonts-regular: "arb-fonts-regular";
$arabic-fonts-medium: "arb-fonts-medium";
$arabic-fonts-mediumbold: "arb-fonts-mediumbold";
$arabic-fonts-bold: "arb-fonts-bold";
$arabic-fonts-bolder: "arb-fonts-bolder";

.arabic-ultralight-font{
  font-family: $arabic-fonts-ultralight !important;
}
.arabic-light-font{
  font-family: $arabic-fonts-light !important;
}
.arabic-regular-font{
  font-family: $arabic-fonts-regular !important;
}
.arabic-font-medium{
  font-family: $arabic-fonts-medium !important;
}
.arabic-font-mediumbold{
  font-family: $arabic-fonts-mediumbold !important;
}
.arabic-font-bold{
  font-family: $arabic-fonts-bold !important;
}
.arabic-font-bolder{
  font-family: $arabic-fonts-bolder !important;
}


//heights
$header-height: 13dvh;
$footer-height: 15dvh;

//colors

$main_color: #093f6c;
$sec_color: #9eb6c5;

$Navy-Blue-Color: #093f6c;
$Light-Gray-Blue-Color: #9eb6c5;

//text colors
$text_color: #231f20;
