$transition_time: 0.3s;

@mixin transition_c($transition_time) {
  transition: $transition_time;
}

@mixin transition() {
  -webkit-transition: $transition_time;
  -moz-transition: $transition_time;
  transition: $transition_time;
}
@mixin transform($data) {
  -webkit-transform: $data;
  -ms-transform: $data;
  transform: $data;
}
@mixin bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg_cover_c($position) {
  background-size: cover;
  background-position: $position;
  background-repeat: no-repeat;
}
@mixin absolute_center($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($height/2);
  margin-left: -($width/2);
}

// fonts
$quicksand: "quicksand";
$quicksand-light: "quicksand-light";
$quicksand-medium: "quicksand-medium";
$quicksand-regular: "quicksand-regular";
$quicksand-semibold: "quicksand-semibold";
$quicksand-bold: "quicksand-bold";


$header-height: 15dvh;
$footer-height: 13dvh;
$Navy-Blue-Color: #093f6c;
$Light-Gray-Blue-Color: #9eb6c5;
$text_color: #231f20;