@import "variables";

// resettting classes
html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  margin: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
// End of reset classes

// defaults
div:focus {
  outline: none;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}
input,
textarea {
  box-shadow: none !important;
  border-radius: 0;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}
body.hide_scroll {
  padding-right: 17px;
  overflow: hidden !important;
}
// END of resettting classes

// end
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: none !important;
}

@-webkit-keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: $sec_color;
}
.navbar-brand {
  position: relative;
}
header {
  z-index: 2;
  position: relative;
}
// heade
.site-header {
  padding: 1rem 0;
  z-index: 13;
  .header-logo {
    width: 160px;
    opacity: 0;
  }
  .header-logo.active {
    opacity: 1;
    transition-duration: 2s;
  }
}
.site-header.shadow_class {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
}
.header-style {
  float: right;
  ul {
    display: flex;
  }
  a {
    display: inline-block;
    padding: 1.4rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 0.6s ease;
    opacity: 1;
  }
  a::before {
    content: "";
    position: absolute;
    bottom: 70%;
    left: 50%;
    width: 2px;
    height: 3rem;
    background-color: #000;
    transition: 0.3s ease;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
  }
  a:hover::before {
    background-color: #000;
    transform: translateX(-50%) scaleY(1);
  }
  .project_active {
    a.active::before {
      background-color: $main_color;
      transform: translateX(-50%) scaleY(1);
    }
  }
  .page_active {
    a.active::before {
      background-color: $main_color;
      transform: translateX(-50%) scaleY(1);
    }
  }
  .current-menu-item {
    position: relative;
    a::before {
      background-color: $main_color;
      transform: translateX(-50%) scaleY(1);
    }
  }
}

// generl classes that can be reusece: none;

// 404 layout classes
.page_404 {
  padding: 188px 0px 240px 0px;
  direction: ltr;
  .title_404 {
    color: #212121;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  .text_404 {
    color: #868587;
    font-size: 18px;
    padding-bottom: 50px;
  }
  .btn_404 {
    font-size: 18px;
    padding: 20px 0px;
    background-color: $main_color;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
    opacity: 89%;
    position: relative;
    border-bottom: 1px solid $main_color;
    width: 321px;
    margin: 0 auto;
    transition-duration: 1s;
    color: white;
  }
  .btn_404::after {
    content: "";
    margin: auto;
    position: absolute;
    background-color: #fff;
    z-index: -1;
    left: 0;
    width: 100%;
    transition: ease 0.5s;
    transform-origin: bottom;
    bottom: 0;
    height: 0;
  }
  .btn_404:hover {
    border-bottom: 1px solid #fff;
    transition: ease 0.5s;
    color: $text_color;
  }
  .btn_404:hover::after,
  .btn_404:active:after {
    height: 100%;
  }
}
// end of 404 layout classes

// my code
root {
  --Navy-Blue-Color: #093f6c;
  --Light-Gray-Blue-Color: #9eb6c5;
}

body {
  //font-family: $quicksand-regular;
  color: $text_color;
  background-color: white;
  overflow: auto;
  overflow-x: hidden !important;
}

// Helper Classes
.no-padding-x {
  padding-left: 0px;
  padding-right: 0px;
}
.no-margin-x {
  margin-left: 0px;
  margin-right: 0px;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-n1 {
  z-index: -1;
}
//end of helper classes

::-moz-selection, /* Code for Firefox */
::selection {
  color: white;
  background-color: #3399ff;
}

.rtl{
  direction: rtl;
  text-align: right;
}

// WP admin bar

#wpadminbar {
  display: none;
}

#content {
  min-height: calc(100dvh - $header-height - $footer-height);
}

h1 {
  font-family: $quicksand-bold;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

// header
header {
  background-color: white;
  height: $header-height;
  position: sticky;
  top: 0;
  font-family: $quicksand-bold;
  padding: 0.5rem 0 0.25rem 0 !important;
  .site-branding{
    img {
      height: auto;
    }
  }
  #site-navigation {
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 20px;
      align-items: center;
    }

    li {
      margin-right: 20px;
      width: 7rem;
      text-align: center;

      a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    li a:hover,
    li.current-menu-item a {
      color: white;
    }

    li a:hover {
      background-color: $Light-Gray-Blue-Color;
    }

    li.current-menu-item {
      a {
        background-color: $Navy-Blue-Color;
      }
      a::after {
        filter: invert(1) brightness(2);
      }
    }

    #menu-item-115 {
      margin-left: auto;

      a::after {
        content: "";
        display: inline-block;
        background-image: url("https://charlie.e-vents.me/wp-content/themes/main/inc/assets/images/header/cart-icon-black.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin-left: 10px;
        vertical-align: middle;
      }

      a:hover::after {
        filter: invert(1) brightness(2);
      }
    }
  }

  // mobile menu
  .mobile-menu-div{
    button{
      border: none;
      background: none;
    }
    .hamburger{
      i::before{
        vertical-align: middle;
      }
    }
    .hamburger:hover:not(.hamburger-active){
      background-color: $Light-Gray-Blue-Color;
      border-radius: 100%;
      i{
        filter: invert(1) brightness(2);
      }
    }
    .hamburger-active{
      background-color: $Navy-Blue-Color;
      border-radius: 100%;
      i{
        filter: invert(1) brightness(2);
      }
    }
    .mobile-cart-button{
      border-radius: 100%;
      img{
        vertical-align: middle;
      }
    }
    .mobile-cart-button:hover:not(.mobile-cart-button-active){
      background-color: $Light-Gray-Blue-Color;
      border-radius: 100%;
      img{
        filter: invert(1) brightness(2);
      }
    }
    .mobile-cart-button-active{
      background-color: $Navy-Blue-Color;
      border-radius: 100%;
      img{
        filter: invert(1) brightness(2);
      }
    }
    .mobile-nav-wrapper{
      width: 40dvw;
      top: $header-height;
      right: 1dvw;
      nav{
        background-color: $Light-Gray-Blue-Color;
        ul{
          display: flex;
          flex-direction: column;
          li{
            background-color: $Light-Gray-Blue-Color;   
            text-align: center;
            a {
              display: block;
              width: 100%;
              height: 100%;
              padding: 13px 10px;
            }
          }
          li.current-menu-item a {
            background-color: $Navy-Blue-Color;
            color: white;
          }
        }
      }
    }
  }
}

// footer

footer {
  color: white;
  height: $footer-height;
  background-color: $Navy-Blue-Color;
  bottom: 0;
  padding: 0.4rem;

  h5 {
    padding-bottom: 0.3rem;
    color: white;
    font-family: $quicksand-bold;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .last-p {
    cursor: default;
    color: darkgray;
    font-size: 15px;
    padding-top: 0.4rem;
  }

  p {
    margin: 0;
    cursor: pointer;
  }

  .footer-icon1 {
    margin-right: 5px;
  }

  .footer-icon2,
  .footer-icon1 {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  .contactus_section,
  .location_section,
  .ministries_section {
    text-align: center;
    justify-content: center;
  }

  span {
    color: darkgray;
    font-size: 15px;
  }

  .footer_lines {
    position: relative;
  }

  .footer_lines::after {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0;
    height: 80%;
    width: 4px;
    background-color: white;
  }
}

// Homepage
.homeDiv {
  .homeDivInnerImage {
    background-image: url("https://charlie.e-vents.me/wp-content/themes/main/inc/assets/images/Library_img.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .padding-left {
    padding-left: 1.5rem;
  }

  h1 {
    text-transform: uppercase;
  }

  h4 {
    font-family: $quicksand-semibold;
  }

  .desktop{
    h1 {
      font-size: 4.5rem;
    }
  }

  .blue-left-sidebar-desktop,
  .blue-right-sidebar-desktop,
  .blue-left-sidebar-mobile,
  .blue-right-sidebar-mobile {
    background-color: $Light-Gray-Blue-Color;
  }
  .blue-left-sidebar-desktop {
    top: 10%;
    left: 0;
    width: 15dvw;
    height: 80%;
  }
  .blue-right-sidebar-desktop {
    top: 5%;
    right: 0;
    width: 5dvw;
    height: 90%;
  }

  .blue-left-sidebar-mobile,
  .blue-right-sidebar-mobile{
    width: 20dvw;
    height: 70%;
  }
  .blue-left-sidebar-mobile{
    top: 5%;
    left: 0;
  }
  .blue-right-sidebar-mobile{
    top: 20%;
    right: 0;
  }

  .mobile{
    .row1{
      height: 25%;
    }
    .row2{
      height: 50%;
    }
    .row3{
      height: 25%;
    }
    h1{
      font-size: 1.8rem;
    }

    .dots-design {
      font-size: 3rem;
      font-style: normal;
      font-family: none;
      color: $Navy-Blue-Color;
      line-height: 1;
    }

    h6{
      font-size: 0.8rem;
    }
  }
}

// homapge slide animation
@keyframes slideOutLeft {
  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-100%); }
}

@keyframes slideInRight {
  0% { opacity: 0; transform: translateX(100%); }
  100% { opacity: 1; transform: translateX(0); }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.slide-out {
  animation: slideOutLeft 1.5s forwards;
}

.slide-in {
  animation: slideInRight 1.5s forwards;
}

//Materials and Library page named custom-shop
.custom-shop {
  min-height: calc(100dvh - $header-height - $footer-height);

  .blue-sidebar {
    top: 10%;
    left: 0;
    width: 10dvw;
    height: 85%;
    background-color: $Light-Gray-Blue-Color;
  }

  .dots-design {
    font-size: 100px;
    font-style: normal;
    font-family: none;
    color: $Navy-Blue-Color;
    writing-mode: vertical-lr; /* Text flows vertically from bottom to top */
    transform: rotate(180deg); /* Rotates the text so it goes bottom to top */
  }

  .products{
    a{
      img{
        height: auto;
        max-width: 100%;
      }
    }
  }
}

// add to cart button
.add_to_cart_button {
  background-color: $Navy-Blue-Color !important;
  color: white !important;
  border-radius: 20px !important;
  margin-top: -1rem !important;
  padding: 0.25rem 1rem !important;
  min-width: 30% !important;
  font-family: $quicksand-semibold !important;
  font-size: 17px !important;
  line-height: 1.5 !important;
}

.add_to_cart_button:hover {
  color: white;
}

// search bar
.search-container {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;

  .search-field {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    flex: 1;
    border-radius: 20px;
    margin: 0;
  }

  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  .search-button i {
    font-size: 1rem;
    color: black;
  }
}

//down to up letters class
.down-to-up {
  font-size: 3rem;
  writing-mode: vertical-rl; /* Text flows vertically from bottom to top */
  transform: rotate(180deg); /* Rotates the text so it goes bottom to top */
  text-transform: uppercase;
}

// about us page
.aboutUsDiv {
  //height: calc(100dvh - $header-height - $footer-height);
  height: 70dvh;
  .ABOUTUS-blue-left-sidebar,
  .ABOUTUS-blue-right-sidebar {
    background-color: $Light-Gray-Blue-Color;
    width: 7dvw;
  }
  .ABOUTUS-blue-left-sidebar {
    left: 0;
    height: 90%;
  }
  .ABOUTUS-blue-right-sidebar {
    right: 0;
    bottom: 5%;
    height: 60%;
  }
  .AbtUSPart1 {
    padding-left: 9dvw;
  }

  .AboutUsText{
    font-size: 19px;
    margin-top: 0.5rem;
    font-family: $quicksand-regular;
  }
  #ARparagraph {
    font-size: 23px;
    display: none;
    direction: rtl;
    font-family: $arabic-fonts-regular;
    margin-top: 0.5rem;
  }
  .LanguageSwitchBtnENG,
  .LanguageSwitchBtnAR {
    background-color: $Navy-Blue-Color;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: none;
    border: none;
  }
  .LanguageSwitchBtnENG {
    float: left;
    font-family: $quicksand-semibold;
    display: none;
  }
  .LanguageSwitchBtnAR {
    float: right;
  }
  .abtUsBold {
    font-family: $quicksand-bold;
  }
  .abtUsBoldAR {
    font-family: $arabic-fonts-bold;
  }

  .AbtUSimg1 {
    width: 100%;
    height: 43%;
    margin-top: 5px;
  }
  .AbtUSimg2 {
    width: 24vw;
    height: 34dvh;
    bottom: 0;
    position: absolute;
    padding-bottom: 2rem;
  }

  .main-heading-Eng,
  .main-heading-Ar {
    font-size: 5.5rem;
    margin-left: -5rem;
    line-height: 1;
  }
  .main-heading-Eng {
    text-transform: uppercase;
    font-family: $quicksand-bold;
    right: 3%;
    top: 10%;
  }
  .main-heading-Ar {
    font-family: $arabic-fonts-bold;
    right: 15%;
    direction: rtl;
  }
}

// cart page
.my-custom-cart-wrapper {
  // min-height: calc(100dvh - $header-height - $footer-height);
  height: 70dvh !important;
  
.Cart-container{
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.cart-lightblue-left-sidebar,
.cart-darkblue-right-sidebar{
  height: 95%;
  bottom: 5%;
  width: 50%;
}

.cart-lightblue-left-sidebar{
  background-color: $Light-Gray-Blue-Color;
  left: 0;
}
.cart-darkblue-right-sidebar{
  background-color: $Navy-Blue-Color;
  right: 0;
}

.Cart-small-container{
  background-color: #f1f1f1;
  min-height: 25rem;
}

.cart-title{
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cart-title-text{
font-size: 32px;
padding-bottom: 5px;
}

.image-cell {
  position: relative;
  vertical-align: bottom;
  width: 50px;
}
.cartIconReversed{
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 60;
  transform: scaleX(-1);
}

.cart-items-container {
  max-height: 300px; /* Set a max height for the container */
  overflow-y: auto;  /* Enable vertical scrolling when content overflows */
  margin-bottom: 0.5rem;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox: Color of thumb and track */
}
/* Webkit Browsers (Chrome, Safari, Edge) */
.cart-items-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.cart-items-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 10px;  /* Optional: Rounded corners for the track */
}

.cart-items-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px;     /* Optional: Rounded corners for the scrollbar thumb */
}

.cart-items-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker scrollbar on hover */
}
.Materials_title{
  font-family: $quicksand-regular;
  margin: 0.5rem;
}
.cart-item {
  background-color: #dce0e2;
  display: flex;
  align-items: center;
}

.cart-item-img {
  max-width: 80px;
  margin-right: 15px;
}

.cart-item-details {
  flex: 1;
  h2{
    font-family: $arabic-fonts-medium;
    font-size: 22px;
    padding-left: 0.5rem;
  }
}

.quantity-selector {
  display: inline-flex; /* Align buttons and input horizontally */
  align-items: center;
  border: 1px solid #000; /* Border around the whole control */
  border-radius: 30px; /* Rounded corners */
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-left: 1rem;
}

.quantity-btn {
  background-color: transparent;
  border: 1px solid #000; /* Circle around the buttons */
  border-radius: 50%; /* Make the buttons circular */
  width: 15px;
  height: 15px;
  font-size: 15px;
  line-height: 0; /* Center the "-" and "+" symbols */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    span{
      height: 2px;
    }
}
.quantity-btn:hover {
  background-color: #ddd; /* Slight hover effect */
}

.quantity-input {
  width: 50px; /* Allow space for larger numbers */
  border: none; /* Remove default input borders */
  text-align: center; /* Center the text */
  font-size: 15px;
  font-family: $quicksand-bold;
  margin: 0 15px; /* Space between buttons and input */
  background-color: transparent; /* Match background with container */
  outline: none; /* Remove focus outline */
  padding: 3px;
}

.cart-item-price {
  font-family: $quicksand-regular;
  padding-left: 1.5rem;
}

.cart-item-remove {
  border: none;
  background: none;
  cursor: pointer;
  width: 3rem;
}

.order-summary {
  background-color: $Light-Gray-Blue-Color;
  text-align: left;
  font-family: $quicksand-regular;
  height: 60%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  h3 {
    margin-bottom: 20px;
    font-family: $quicksand-bold;
  }
}
.order-sum-text{
  font-family: $quicksand-bold;
  font-size: 20px;
  margin-top: 1rem;
}
.order-sum-import{
  text-align: right;
  font-family: $quicksand-regular;
  font-size: 16px;
}
.cart-checkout-button {
  font-family: $quicksand-bold;
  font-size: 23px;
  background-color: $Navy-Blue-Color;
  border: none;
  border-radius: 0;
  color: white;
  padding: 10px;
  cursor: pointer;
  height: 4rem;
}
.cart-right-section{
 
}
}

// checkout page
.my-custom-checkout-wrapper {
  min-height: calc(100dvh - $header-height - $footer-height);
}
