@import "variables";
// @charset "utf-8";

@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}

// my code

@media (min-width: 992px) {
  .w-lg-100 {
      width: 100%;
  }
}

// template

@media (max-width: 575.98px) { 
  /* Extra small devices (portrait phones, less than 576px) */ 
}
@media (min-width: 576px) and (max-width: 767.98px) { 
  /* Small devices (landscape phones, 576px and up) */ 
}
@media (min-width: 768px) and (max-width: 991.98px) { 
  /* Medium devices (tablets, 768px and up) */ 
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
  /* Large devices (desktops, 992px and up) */ 
}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  /* Extra large devices (large desktops, 1200px and up) */ 
}
@media (min-width: 1400px) { 
  /* Extra-extra large devices (very large desktops, 1400px and up) */ 
}

//header

header{
  @media (max-width: 575.98px) { 
    h4{
      font-size: 0.8rem;
    }
    .site-branding{
      img{
        width: 2.5rem;
      }
    }
    .mobile-menu-div{
      button{
        i::before{
          font-size: 18px;
        }
      }
      a{
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
    .mobile-cart-button,
    .hamburger{
      width: 35px;
      height: 35px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .site-branding{
      img{
        width: 3rem;
      }
    }
    .mobile-menu-div{
      button{
        i::before{
          font-size: 25px;
        }
      }
      a{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    .mobile-cart-button,
    .hamburger{
      width: 50px;
      height: 50px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) { 
    .site-branding{
      img{
        width: 3.5rem;
      }
    }
    .mobile-menu-div{
      button{
        i::before{
          font-size: 30px;
        }
      }
      a{
        img{
          width: 35px;
          height: 35px;
        }
      }
    }
    .mobile-cart-button,
    .hamburger{
      width: 50px;
      height: 50px;
    }
  }

  
  @media (min-width: 992px) { 
    .site-branding{
      img{
        width: 5.5rem;
      }
    }
    .mobile-menu-div{
      button{
        i::before{
          font-size: 35px;
        }
      }
      a{
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    h4{
      font-size: 1.2rem;
    }
    .site-branding{
      img{
        width: 4rem;
      }
    }
  }
  
}

// footer
footer {
  @media (max-width: 576px) {
    /* Styles for phones with screens 480px or smaller */

    height: 40dvh;

    span{
      font-size: 0.7rem;
    }
    
    .align-center-mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contactus_section,
    .location_section,
    .ministries_section {
      text-align: center;
      justify-content: center;
    }
    .ministries_section {
      padding: 10px 0;
      margin: 0 auto;
    }
    .ministries_section p {
      display: none;
    }

    .contactus_section,
    .location_section {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }

    .footer-icon1{
      display: none;
    }

    .separator {
      width: 70%; /* Adjust width */
      height: 2px; /* Line thickness */
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 10px;
    }

    .footer_lines {
      position: static; /* Reset the position */
    }
    .footer_lines::after {
      content: none; /* Remove the pseudo-element */
    }
  }

  @media (min-width: 575px) and (max-width: 766px) {
    height: 30dvh;
    .location-icon-mobile{
      display: none;
    }
  }
  @media (min-width: 766px) {
    .location-icon-mobile{
      display: none;
    }
  }
}
// homepage

.homeDiv{
  @media (max-width: 767.98px) { 
    min-height: calc(100dvh - $header-height - $footer-height);
  }
  @media (min-width: 768px){ 
    height: calc(100dvh - $header-height - $footer-height);
  }
}

// materials and library page


@media (max-width: 575.98px) { 
  .down-to-up {
    font-size: 2rem;
  }
    
  .custom-shop {  
    .dots-design {
      font-size: 60px;
    }
  }
}