@import "variables";
// @charset "utf-8";

@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}

// my code

// footer
footer {
  @media (max-width: 480px) {
    /* Styles for phones with screens 480px or smaller */

    height: 40dvh;

    .contactus_section,
    .location_section,
    .ministries_section {
      text-align: left;
    }

    .footer_lines {
      position: static; /* Reset the position */
    }

    .footer_lines::after {
      content: none; /* Remove the pseudo-element */
    }
  }
}
